*{
    margin: 0;
    padding: 0;
}

article{
    position: relative;
    width: 640px;
    height: 480px;
    margin: 0 auto;
}

button{
    border: none;
    box-shadow: none;
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-weight: bold;
}

button:active{
    filter: brightness(200%);
}

button:empty{
    display: none;
}


#book{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("img/book.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#book:not([show]){
    display: none;
}

[page]{
    position: absolute;
    width: 35%;
    height: 60%;
    top: 15%;
    background-color: rgba(255, 255, 128, 0.8);
}

[page='left']{
    left: 13%;
}
[page='right']{
    left: 52%;
}

button#open{
    background-color: coral;
    bottom: 5px;
    right: 5px;
}

button#jump{
    background-color: greenyellow;
    bottom: 5px;
    right: 60px;
}