*{
    margin: 0;
    padding: 0;
}

article{
    position: relative;
    width: 100vw;
    height: 75vw;
    max-width: 960px;
    max-height: 720px;
    margin: 0 auto;
}

canvas{
    width: 100%;
    height: 100%;
}

button{
    cursor: pointer;
    border: none;
    box-shadow: none;
    position: absolute;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    color: white;
    font-weight: bold;
}

button:active{
    filter: brightness(200%);
}

button:empty{
    display: none;
}


#book{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("img/book.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#book:not([show]){
    display: none;
}

[page]{
    position: absolute;
    width: 35%;
    height: 60%;
    top: 16%;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
}

[page] p{
    width: 2.5%;
    font-size: 10px;
    text-align: center;
}
@media screen and (max-width: 1000px) {
    [page] p{
        font-size: 1vw;
    }
 }

[page='left']{
    left: 13%;
}
[page='right']{
    left: 52%;
}

[page='left'] span{
    flex-grow: 1;
    width: 100%;
    text-align: left;
}
[page='right'] span{
    flex-grow: 1;
    width: 100%;
    text-align: right;
}

button#open{
    background-color: coral;
    bottom: 10px;
    right: 10px;
}

button#jump{
    background-color: greenyellow;
    bottom: 10px;
    right: 80px;
}

[start]{
    top: calc(50% - 30px);
}
[start="alpha"]{
    background-color: blue;
    left: calc(25% - 30px);
}
[start="kana"]{
    background-color: red;
    left: calc(50% - 30px);
}
[start="any"]{
    background-color: green;
    left: calc(75% - 30px);
}